#!/bin/bash

export WSO2_API_OPERATOR_VERSION=v1.2.0-alpha
OS="$(uname | tr '[:upper:]' '[:lower:]')"

LOCAL_ARCH=$(uname -m)

case "${LOCAL_ARCH}" in
  x86_64)
    ARCH=amd64
    ;;
  armv8*)
    ARCH=arm64
    ;;
  aarch64*)
    ARCH=arm64
    ;;
  armv*)
    ARCH=armv7
    ;;
  amd64|arm64)
    ARCH=${LOCAL_ARCH}
    ;;
  *)
    echo "This system's architecture, ${LOCAL_ARCH}, isn't supported"
    exit 1
    ;;
esac

case "${OS}" in
  darwin)
    ARCH=macos
    ;;
  *)
    echo "This system's architecture, ${OS}, isn't supported"
    exit 1
    ;;
esac


export KUBECONFIG=$HOME/.kube/eksctl/clusters/basic-cluster-A:$HOME/.kube/eksctl/clusters/basic-cluster-B
export ISTIO_VERSION=1.5.7
export JAVA_HOME=/Library/Java/JavaVirtualMachines/graalvm-ce-java11-20.1.0/Contents/Home
alias k=kubectl
export AWS_PROFILE=aws-security
export AWS_REGION=us-east-1
export PROJECT_HOME="${PWD}"
export ISTIO_HOME="${PWD}/istio-$ISTIO_VERSION"
export AWS_USER="$(aws sts get-caller-identity | jq -r '.Arn' | cut -d "/" -f2)"

export WSO2_MICROGW_PKG="wso2am-micro-gw-toolkit-${ARCH}-3.1.0"
export WSO2_GW_ROOT="${PROJECT_HOME}/${WSO2_MICROGW_PKG}"

export PATH="/usr/local/opt/openjdk@11/bin:$ISTIO_HOME/bin:$PATH:$WSO2_GW_ROOT/bin/"
export DOCKER_REPOSITORY="docker.io/leogsilva"

echo "Please adjust any necessary variable to your environment"
